<div class="jumbotron">
<% if current_user %>

  <!-- google maps -->
  <div id="map"></div>
  <script>
    function initMap() {
      // center on user location
      var userLocation = {lat: <%= @latitude %>, lng: <%= @longitude %>}

      var map = new google.maps.Map(document.getElementById('map'), {
        center: userLocation,
        zoom: 10
      });

      // posts filtered to those with location data
      var posts = <%= raw @posts_with_location.to_json %>['data'];

      // make markers on map for each post
      posts.forEach(function(post) {
        var infoContent = '<div id="info-window">' +
          [post.author, post.message, post.location_name, post.location_city].join('<br>') +
          '</div>';
        var infoWindow = new google.maps.InfoWindow({content: infoContent});

        var lat = post.coords[0],
            lng = post.coords[1];
        var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map
        });

        // mouseover / mouseout
        marker.addListener('mouseover', function() {
          infoWindow.open(map, marker);
        });
        marker.addListener('mouseout', function() {
          infoWindow.close();
        });
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap"></script>

<% else %>
    <h1>Welcome!</h1>
    <p>Sign in through Facebook to get started.</p>
    <%= link_to 'Facebook Login', '/auth/facebook' %>
<% end %>
</div>

